@import "tailwindcss";


@layer base {
    .toggle {
        width: 40px;
        height: 30px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: auto;
        cursor: pointer;

        >span {
            display: flex;
            width: 100%;
            height: 2px;
            background-color: black;
            border-radius: 2px;
            transition: 1s;
            align-content: space-evenly;
            transform-origin: right;
        }
    }

    .btn {
        padding: 3px 8px;
        background-color: #e11b4c;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }

    .acc {
        width: 100%;

        >li {
            width: 100%;
            border: 1px solid rgb(163, 161, 161);

            * {
                width: 100%;
            }

            >h2 {
                height: 65px;
                background-color: rgb(205, 202, 202);
                padding: 5px;
                display: flex;
                flex-wrap: wrap;
            }

            >p {
                overflow: hidden;
                transition: 1s;
                align-items: center;
            }
        }
    }

    .bg-pink {
        background-color: #fbedf0;
    }

    .bg-footer {
        background-color: #ffe6c8;
    }

    .text-color {
        border-color: #e11b4c;
    }

    .bg-pop {
        /* inset: 0; */
        background: rgba(255, 255, 255, 0.882);
        /* سفید با شفافیت */
        backdrop-filter: blur(20px);
        /* افکت تارکننده */
    }

    .box-syze {
        /* width: 450px;
        height: 500px; */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
    }

    .move {
        transition: 1s;
    }

}